doctype html
html
    head
        meta(charset='utf-8')
        title
        meta(http-equiv='X-UA-Compatible',content='IE=edge,chrome=1')
        link(rel='stylesheet',href='css/index.css')
    body
        script(src='js/vendor.js')
        script(src='js/index.js')